*,
*::after,
*::before {
  box-sizing: border-box;
}

li {
  display: block;
  width: fit-content;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.icon {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.icon img {
  display: inline-block;
  width: 20px;
  height: auto;
  background-color: #000;
}

.completed {
  text-decoration: line-through;
  color: red;
}
